<%- include('../../fragments/header.ejs') %>

<main>
    <h2> <%= pageTitle %> </h2>
    <table class="table-list">
        <thead>
            <tr>
                <th><%= __('visitor.fields.firstName') %></th>
                <th><%= __('visitor.fields.lastName') %></th>
                <th><%= __('list.actions.title') %></th>
            </tr>
        </thead>
        <tbody>
            <% for (let visitor of visitors) { %>
            <tr>
                <td><%= visitor.firstName %></td>
                <td><%= visitor.lastName %></td>
                <td>
                    <ul class="list-actions">
                        <li>
                            <a href="visitors/details/<%=visitor._id%>"
                                class="list-actions-button-details"><%= __('list.actions.details') %></a></li>
                        <li>
                            <a href="visitors/edit/<%=visitor._id%>" class="list-actions-button-edit"><%= __('list.actions.edit') %></a>
                        </li>
                        <li>
                            <a href="visitors/delete/<%=visitor._id%>" class="list-actions-button-delete"><%= __('list.actions.delete') %></a>
                        </li>

                    </ul>
                </td>
            </tr>
            <% } %>
        </tbody>
    </table>
    <p><a href="visitors/add" class="button-add"> <%= __('visitor.list.addNew') %> </a></p>
</main>


<%- include('../../fragments/footer.ejs') %>