<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Michelin "Wirtualny Krytyk"</title>
    <link rel="stylesheet" href="/css/style.css" />
    <link rel="stylesheet" href="/css/mobile.css" />
</head>

<body>


    <header>
        <h1><%= __('main-page.title') %></h1>
        <% if(!loggedUser) { %>
            <div id="login">
                <h5><%= __('logging.logIn') %></h5>
                <form method="post" action="/login" novalidate>
                    <label for="loginEmail"><%= __('logging.email') %>:</label>
                    <input type="email" id="loginEmail" name="email">

                    <label for="loginPassword"><%= __('logging.password') %>:</label>
                    <input type="password" id="loginPassword" name="password">

                    <input type="submit" value="<%= __('logging.logIn') %>">
                    <span id="loginErrors">
                        <%= loginError ? loginError : '' %>
                    </span>
                </form>
            </div>
            <% } else { %>
                <span><%= __('logging.text') %><%=loggedUser.firstName + " " + loggedUser.lastName%></span>
                <a href="/logout"><%= __('logging.logOut') %></a>
                <% } %>
                    <a href="/">
                        <img src="/images/logo.png" alt="Michelin" class="header-img">
                    </a>
    </header>

    <nav>
        <ul>
            <li><a href="/" class="<%= navLocation == 'main' ? 'active' : ''%>"><%= __('nav.main-page') %></a></li>
            <% if(loggedUser) { %>
                <li><a href="/visitors" class="<%= navLocation == 'visitor' ? 'active' : ''%>"><%= __('nav.visitors') %></a></li>
                <% } %>
                    <li><a href="/meals" class="<%= navLocation == 'meal' ? 'active' : ''%>"><%= __('nav.meals') %></a></li>
                    <li><a href="/reviews" class="<%= navLocation == 'review' ? 'active' : ''%>"><%= __('nav.reviews') %></a>
                    </li>
        </ul>
        <ul>
            <li><a href="/changeLang/pl" class="<%= lang == 'pl' ? 'active' : ''%>">PL</a></li>
            <li><a href="/changeLang/en" class="<%= lang == 'en' ? 'active' : ''%>">EN</a></li>
        </ul>
    </nav>