<%- include('../../fragments/header.ejs') %>

<main>
    <h2><%= pageTitle %></h2>
    <table class="table-list">
        <thead>
            <tr>
                <th><%= __('meal.fields.name') %></th>
                <th><%= __('list.actions.title') %></th>
            </tr>
        </thead>
        <tbody>
            <% for (let meal of meals) { %>
            <tr>
                <td> <%= meal.name %> </td>
                <td>
                    <ul class="list-actions">
                        <li>
                            <a href="meals/details/<%=meal._id%>" class="list-actions-button-details"><%= __('list.actions.details') %></a></li>
                        <li>
                            <a href="meals/edit/<%=meal._id%>" class="list-actions-button-edit"><%= __('list.actions.edit') %></a>
                        </li>
                        <li>
                            <a href="meals/delete/<%=meal._id%>" class="list-actions-button-delete"><%= __('list.actions.delete') %></a>
                        </li>

                    </ul>
                </td>
            </tr>
            <% } %>
        </tbody>

    </table>
    <p><a href="meals/add" class="button-add"><%= __('meal.list.addNew') %></a></p>
</main>
<%- include('../../fragments/footer.ejs') %>