<%- include('../../fragments/header.ejs') %>
<main>
    <h2><%= pageTitle %></h2>
    <table class="table-list">
        <thead>
            <tr>
                <th><%= __('review.fields.visitor') %></th>
                <th><%= __('review.fields.meal') %></th>
                <th><%= __('list.actions.title') %></th>
            </tr>
        </thead>
        <tbody>
            <% for (let review of reviews) { %>
            <tr>
                <td><%= review.visitor.firstName %> <%= review.visitor.lastName %></td>
                <td><%= review.meal.name %></td>
                <td>
                    <ul class="list-actions">
                        <li>
                            <a href="reviews/details/<%=review._id%>" class="list-actions-button-details"><%= __('list.actions.details') %></a>
                        </li>
                        <li>
                            <a href="reviews/edit/<%=review._id%>" class="list-actions-button-edit"><%= __('list.actions.edit') %></a>
                        </li>
                        <li>
                            <a href="reviews/delete/<%=review._id%>" class="list-actions-button-delete"><%= __('list.actions.delete') %></a>
                        </li>
                    </ul>
                </td>
            </tr>
            <% } %>
        </tbody>
    </table>
    <p><a href="reviews/add" class="button-add"><%= __('visitor.list.addNew') %></a></p>
</main>
<%- include('../../fragments/footer.ejs') %>